@import "tailwindcss";

.custom-scrollbar {
    scrollbar-color: rgb(var(--accent-text)) rgba(var(--accent-base) / 0.2);
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: rgba(var(--accent-base) / 0.1);
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg,
    rgb(var(--accent-text)),
    rgb(var(--accent-base)));
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(var(--accent-text) / 0.3);
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg,
    rgb(var(--accent-text-light)),
    rgb(var(--accent-base)));
    box-shadow: 0 0 12px rgba(var(--accent-text) / 0.5);
}

:root {
    --bg-primary-from: 250 252 255;
    --bg-primary-to: 242 246 250;

    --bg-card-from: 255 255 255;

    --accent-base: 37 99 235;
    --accent-text: 30 64 175;
    --accent-text-light: 147 197 253;

    --text-base: 30 41 59;

    --overlay-bg: 255 255 255;
    --bg-primary-board: 248 250 252;
}


.dark {
    --bg-primary-from: 24 24 27;
    --bg-primary-to: 39 39 42;
    --bg-card-from: 39 39 42;

    --accent-base: 34 197 94;
    --accent-text: 134 239 172;
    --accent-text-light: 52 211 153;

    --text-base: 229 231 235;

    --overlay-bg: 24 24 24;
    --bg-primary-board: 24 24 24;
}